
body{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.container{
    height: 100px;
    width: 100%;
    background-color: rgb(146, 51, 70);
    margin-bottom: 20px;
    border-radius: 30px;

}
h2{
    text-align: center;
    padding: 20px;
    color: rgb(214, 212, 212);
    font-weight:bold;
}

